a {
    cursor: pointer;
}

section {
    max-width: 1100px; 
    padding: 30px 30px; 
    margin: auto; 
}

.intro h1 {
    text-align: center; 
    margin-bottom: 25px; 
}

.intro {
    margin-top: 50px; 
    background-color: rgb(219, 219, 219); 
    border-radius: 6px; 
}

.county-form, .prediction-box {
    max-width: 500px;
    margin: auto; 
    text-align: center; 
    padding: 15px; 
    border-radius: 4px; 
    -webkit-box-shadow: 0px 0px 15px 1px #999999; 
    box-shadow: 0px 0px 15px 1px #999999;
    margin-bottom: 50px; 
}

.prediction-box {
    max-width: 1130px;
    margin: auto; 
    text-align: center; 
    padding: 40px; 
    border-radius: 4px; 
    -webkit-box-shadow: 0px 0px 15px 1px #999999; 
    box-shadow: 0px 0px 15px 1px #999999;
    margin-bottom: 50px; 
}

.county-form input {
    margin-bottom: 10px; 
}

.prediction-box h1 {
    font-weight: bold; 
    font-size: 50px; 
    margin-bottom: 10px; 
}

.cases, .fraction-highlight {
    color: red; 
}

.prediction-box .fraction {
    font-size: 30px; 
}

.raw-data {
    margin-top: 30px; 
}

.error {
    color: red; 
}

footer {
    background-color: rgb(219, 219, 219); 
    padding: 30px; 
}

/* Loader found from  https://loading.io/css/ */

.lds-ring {
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 64px;
    height: 64px;
    margin: 8px;
    border: 8px solid #0E6DFD;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0E6DFD transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }